################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cqrs-mediatr/v15
/.vs
/CQRS-MediatR-POC/obj
